html {
  background-color: red;
}

body {
  background-color: azure;
  padding: 20px;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro";
  max-width: 400px;
  height: 100vh;
  display: block;
  margin: 0 auto;
}

.omikuji {
  text-align: center;
  padding: 10px;
  border: double 20px red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.omikuji-headline {
  margin: 0 0 80px;
  font-size: 40px;
  background-color: red;
  color: azure;
  font-weight: bold;
  position: relative;

  &::after {
    content: "- Omikuji App -";
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    color: red;
    font-size: 20px;
    padding: 10px;
  }
}

@keyframes shake {
  0% { transform: rotate(0deg);}
  5% { transform: rotate(10deg);}
  10% { transform: rotate(-10deg);}
  15% { transform: rotate(10deg);}
  20% { transform: rotate(-10deg);}
  25% { transform: rotate(0deg);}
  100% { transform: rotate(0deg);}
}

.omikuji-result {
  margin-bottom: 20px;
  animation: shake 2.5s 2s ease-in-out;

  > img {
    width: auto;
    height: 300px;
  }
}

.omikuzi-button {
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  background-color: red;
  font-family: "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro";
  color: azure;
  border: double 10px;
}
